.github/**
.vscode/**
.vscode-test/**
node_modules/**
out/**
docs/**
src/**
tests/**
coverage/**

.gitignore
.vscode-test.*
esbuild.js
eslint.config.mjs
mermaid.mmd
tsconfig.json
tsconfig.api.json
**/*.map
**/*.ts